#wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

#bg {
  position: absolute;
  width: 650px;
  height: 350px;
  background-color: #c4c4c4;
}

#canv {
  margin-top: 25px;
  position: absolute;
  display: block;
  background-color: #c4c4c4;
}
